@media screen and (min-width:840px) {
    .sub-section{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }

    .big-card{
        width: 65%;
        /* height: 50%; */
    }

    .small-card{
        width: 32%;
        
    }

    .small-card:nth-of-type(2){
        /* height: 550px; */
        justify-content: flex-start;
        padding-bottom: 15.5rem;
        /* height: 50%; */
    }

    .big-card.profile{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: justify;
    }

    .big-card.profile p{
        margin-left: 1rem;
    }

    .big-card-text-profile{
        display: flex;
        flex-direction: column;
    }

    .big-card-text-profile p:last-child{
        text-align: center;
    }

    .small-card.best-of{
        width: calc((100% / 2) - 1rem);
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
        padding-bottom: 3rem;
    }

    .sub-section-about-us-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
    }

    .sub-section-text-about-us{
        width: calc((100% / 2) - 1rem);
    }

    
}



@media screen and (min-width: 1080px) {
    .navbar{
        display: flex;
    }

    header .navbar > ul{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

    .navbar > ul > li{
        padding: 0rem 1rem;
        list-style-type: none;
    }

    .navbar > ul > li > a{
        text-decoration: none;
        color: white;
    }

    .navbar > ul > li > a:hover{
        text-decoration: underline;
    }

    .hamburger{
        display: none;
    }

    .big-card{
        flex-direction: row;
        justify-content: space-evenly;
        width: 66%;
    }

    .small-card:nth-of-type(2){
        padding-bottom: 6.5rem;
        padding-top: 0.5rem;
        
    }

    .sub-section:nth-of-type(1){
            justify-content: space-evenly;
    }


    .big-card.white-bg{
        width: 48%;
        /* align-items: flex-end; */
        flex-direction: column;

    }

    .img-text-container{
        width: 48%;
    }

    .big-card.profile{
        width: 80%;
        margin: 1.5rem auto;
    }

     .small-card.best-of{
        width: calc((100% / 3) - 1rem);
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
        padding-bottom: 3rem;
    }
    
}