@media screen and (min-width: 840px) {
    .navbar{
        display: flex;
    }

    header .navbar > ul{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

    .navbar > ul > li{
        padding: 0rem 1rem;
        list-style-type: none;
    }

    .navbar > ul > li > a{
        text-decoration: none;
        color: white;
    }

    .navbar > ul > li > a:hover{
        text-decoration: underline;
    }

    .hamburger{
        display: none;
    }
    
}