*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 390px mobile */
/* 837 tablet*/

/* generic */

#btn{
    background-color: white;
    padding: 0.5rem 1rem;
    color: black;
    border-radius: 2rem;
}

.btn-blue{
background-color: lightskyblue;
padding: 0.5rem 1rem;
color: white;
border-radius: 2rem;
}


/* utils */

.container{
    width: 100%;
    height: 100%;
    /* background-color: red; */
}



/* header */

header{
    width: 100%;
    background-color: rgb(0 132 253);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
}

.navbar{
    display: none;
}

/* header /  */

/* section one  */

section.bg-violet{
    width: 100%;
    height: 100%;
    background-color: rgb(150 146 230);
    padding-bottom: 2rem;
}

.sub-section{
    width: 90%;
    height: 100%;
    margin: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-card{
    width: 90%;
    /* height: 500px; */
    background-color: rgb(185 221 255);
    margin-top: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1rem 0rem 1rem;
    /* text-align: center; */
}

.big-card p{
    margin-top: 1rem;
}

.img-fake{
    width: 90%;
    height: 350px;
    background-color: green;
    margin-top: 2rem;
}

 a.btn-blue{
    text-decoration: none;
    text-align: center;
    width: 10rem;
    
}

.big-card-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.big-card-text *{
    margin: 1rem 1rem 0rem 0rem;
}

.small-card{
    width: 90%;
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: lightgreen;
    border-radius: 2rem;
    text-align: center;
    margin-top: 1.5rem;
    line-height: 1.5rem;
}

.small-card > *{
    padding: 1rem 1rem;
}

.credits-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
}

.credits-text > p > span{
    text-decoration: underline;
}

/* section two */

.img-text-container{
    padding: 5rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.img-text-container *{
    margin-top: 0.5rem;
    color: white;
    line-height: 1.5rem;
}

.img-text-container > img{
    width: 100%;
    margin-bottom: 5rem;
    margin-top: 1rem;
}

.big-card.white-bg{
    background-color: white;
    width: 100%;
}

.big-card.white-bg h2{
    color: black;
}

.big-card-text.center-text p{
    color: gray;
}

.img-text-container > h2{
    margin-bottom: 2rem;
}

.big-card-text.center-text{
    align-items: center;
}

.big-card-text.center-text *{
    text-align: center;
}

.big-card-text.center-text > i{
    margin: 1rem 0rem;
    color: black;
}

/* third section */

.text-container{
    width: 90%;
    line-height: 1.5rem;
}

.text-container *{
    padding: 1rem 0rem;
    line-height: 1.5rem;
    text-align: center;
}

.card-profile-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
}

.big-card.profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 0.5rem;
    text-align: center;
    line-height: 1.5rem;
}

.big-card.profile > img{
    border-radius: 50%;
}












