*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 390px mobile */
/* 837 tablet*/

/* generic */

#btn{
    background-color: white;
    padding: 0.5rem 1rem;
    color: black;
    border-radius: 2rem;
}

.btn-blue{
background-color: lightskyblue;
padding: 0.5rem 1rem;
color: white;
border-radius: 2rem;
}


/* utils */

.container{
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

/* header */

header{
    width: 100%;
    background-color: rgb(0 132 253);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
}

.navbar{
    display: none;
}

/* header /  */

/* section one  */

section.bg-violet{
    width: 100%;
    height: 100%;
    background-color: rgb(150 146 230);;
}

.sub-section{
    width: 90%;
    height: 100%;
    margin: auto;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-card{
    width: 90%;
    /* height: 500px; */
    background-color: blue;
    margin-top: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1rem 0rem 1rem;
    /* text-align: center; */
}

.big-card p{
    margin-top: 1rem;
}

.img-fake{
    width: 90%;
    height: 350px;
    background-color: green;
    margin-top: 2rem;
}

 a.btn-blue{
    text-decoration: none;
    text-align: center;
    width: 10rem;
    margin-top: 2rem;
}

.small-card{
    width: 90%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: lightgreen;
    border-radius: 2rem;
    text-align: center;
    margin-top: 1.5rem;
    line-height: 1.5rem;
}

.credits-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
}

.credits-text > p > span{
    text-decoration: underline;
}











